@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* basic */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 12px 120px;
  background-color: #f3f3f3;
  color: #222;
}

section {
  padding: 30px;
  border-radius: 12px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

/* About */
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about .per-img{
  margin: 20px;
}
.skills h2{
  text-align: center;
}
.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover; /* <--- fill the photo*/
  border-radius: 50%;
  border: 5px solid #1f2d4a;
}

.about-text h1 {
  font-size: 32px;
  color: #4b5d41;
  border-bottom: 2px solid #1f2d4a;
  padding-bottom: 5px;
}

.about-text p {
  font-size: 16px;
  color: #333;
}

/* the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.05);
  flex: 1 1 250px; /* flex-grow: 1 , flex-shrink: 1 , flex-basis: 250px */
  max-width: 300px;
  text-align: center;
  border-left: 5px solid #4b5d41; 
  transition: transform 0.3s ease;
}
.card:hover {   
  transform: translateY(-5px);
}

/* Contact */
.contact a {
  margin: 0px 3px;
  text-decoration: none;
  color: #4b5d41;
}
.social-links{
  margin: 12px 0px;
  font-size: 20px;
}
.social-links a i{
  transition: 0.9s;
}
.social-links a i:hover{
  color:#4b5d41 ;
  transform: scale(1.8);
}
/* Responsive */
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .profile-img {
    width: 120px;
    height: 120px;
  }

  .about-text h1 {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .card {
    font-size: 14px;
    padding: 15px;
  }
}
